.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 25%;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  align-items: center;
  background-color:#F0EBE3;
  text-align: center;
}
.content:hover{
  box-shadow: 4px 0 4px 0;
}